# **Identifikasi Faktor Dominan yang Mempengaruhi Ketimpangan Life Expectancy antar Negara Berpendapatan Tinggi dan Rendah Periode 2000-2019**

## Import Library

In [6]:
import pandas as pd

## Memuat Dataset

Dataset yang digunakan merupakan data Life Expectancy dan indikator sosial ekonomi dari berbagai negara periode 2000–2019 yang bersumber dari World Bank melalui Kaggle.

In [13]:
path = "/content/drive/MyDrive/Dataset avd/Checkpoint/life expectancy.csv"
df = pd.read_csv(path)

df

,Country Name,Country Code,Region,IncomeGroup,Year,Life Expectancy World Bank,Prevelance of Undernourishment,CO2,Health Expenditure %,Education Expenditure %,Unemployment,Corruption,Sanitation,Injuries,Communicable,NonCommunicable
0,Afghanistan,AFG,South Asia,Low income,2001,56.308,47.8,730.000000,NaN,NaN,10.809000,NaN,NaN,2179727.10,9689193.70,5795426.38
1,Angola,AGO,Sub-Saharan Africa,Lower middle income,2001,47.059,67.5,15960.000000,4.483516,NaN,4.004000,NaN,NaN,1392080.71,11190210.53,2663516.34
2,Albania,ALB,Europe & Central Asia,Upper middle income,2001,74.288,4.9,3230.000000,7.139524,3.45870,18.575001,NaN,40.520895,117081.67,140894.78,532324.75
3,Andorra,AND,Europe & Central Asia,High income,2001,NaN,NaN,520.000000,5.865939,NaN,NaN,NaN,21.788660,1697.99,695.56,13636.64
4,United Arab Emirates,ARE,Middle East & North Africa,High income,2001,74.544,2.8,97200.000000,2.484370,NaN,2.493000,NaN,NaN,144678.14,65271.91,481740.70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3301,Vanuatu,VUT,East Asia & Pacific,Lower middle income,2019,70.474,12.4,209.999993,3.360347,1.77788,1.801000,3.0,NaN,12484.18,26032.56,69213.56
3302,Samoa,WSM,East Asia & Pacific,Lower middle income,2019,73.321,4.4,300.000012,6.363094,4.70625,8.406000,4.0,47.698788,6652.84,9095.19,43798.62
3303,South Africa,ZAF,Sub-Saharan Africa,Upper middle income,2019,64.131,6.3,439640.014648,9.109355,5.91771,28.469999,NaN,NaN,3174676.10,13198944.71,10214261.89
3304,Zambia,ZMB,Sub-Saharan Africa,Low income,2019,63.886,NaN,6800.000191,5.312203,4.46518,12.520000,2.5,NaN,510982.75,4837094.00,2649687.82
3305,Zimbabwe,ZWE,Sub-Saharan Africa,Lower middle income,2019,61.490,NaN,11760.000229,7.703565,NaN,4.833000,2.5,25.963544,644798.93,4187087.31,2364031.48

# Business Understanding

## Business Objective
Meskipun rata-rata Life Expectancy dunia meningkat dalam dua dekade terakhir, masih terdapat ketimpangan signifikan antara negara berpendapatan tinggi dengan negara berpendapatan rendah.

Tujuan analisis ini adalah mengidentifikasi faktor sosial ekonomi yang paling dominan dalam mempengaruhi ketimpangan Life Expectancy tersebut.

## Assess Situation

Dataset yang digunakan mencakup banyak negara dalam periode waktu 2000–2019. Karena data tersedia selama beberapa tahun, analisis dapat dilakukan untuk melihat perkembangan dari waktu ke waktu.

Beberapa tantangan yang mungkin dihadapi dan perlu diperhatikan:

- **Terdapat data yang kosong (missing values).**
Beberapa variabel memiliki nilai yang tidak lengkap. Hal ini perlu ditangani agar hasil analisis tidak menjadi bias atau kurang akurat.

- **Perbedaan skala antar variabel.**
Setiap variabel memiliki rentang nilai yang berbeda.
Misalnya, nilai emisi CO₂ bisa sangat besar, sementara nilai pengangguran atau korupsi berada dalam rentang yang lebih kecil.
Perbedaan ini perlu diperhatikan terutama saat melakukan analisis statistik atau modeling.

- **Perlu pengelompokan berdasarkan tingkat pendapatan.**
Karena ini berfokus pada perbandingan negara berpendapatan tinggi dan rendah, maka data perlu dikelompokkan sesuai kategori Income Group.

- **Kemungkinan terdapat nilai ekstrem (outlier).**
Beberapa negara mungkin memiliki nilai yang jauh berbeda dari mayoritas data. Nilai ekstrem ini perlu diperiksa karena dapat memengaruhi hasil analisis.

## Analytic Goals

Analisis yang akan dilakukan meliputi:

1. Analisis deskriptif Life Expectancy
2. Perbandingan Life Expectancy antar kelompok pendapatan
3. Analisis korelasi variabel sosial ekonomi
4. Pembangunan model regresi
5. Identifikasi faktor dominan

## Project Plan

Tahapan yang akan dilakukan:

1. Data Understanding
2. Data Preparation
3. Exploratory Data Analysis (EDA)
4. Modeling
5. Evaluation